<header>
    <nav class="navbar-header col-md-9 col-lg-4">
        <ul>
            <li><a href="{{ path('app_home') }}"> A propos de We Movies</a></li>
        </ul>
    </nav>
    <div class="relative " id="autocomplete-container">
        <div class="input-group rounded">
            <input type="search" name="search" id="search" class="input" placeholder="Search" aria-label="Search"
                   aria-describedby="search-addon"/>
        </div>
        <div class="form-search-results-wrapper mt-5" id="list_search"></div>
    </div>
</header>